*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: none;
    text-decoration: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Metro Sans';
    src: local("Metro Sans Medium"), local("MetroSans-Medium"), url("fonts/metro-sans-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal
}

:root {
    font-size: 26px
}

html {
    font-size: 62.5%;
    background: black;
    color: white
}

* {
    font-size: 18px;
    line-height: 26px;
    font-family: "Metro Sans", sans-serif;
    font-weight: 500
}

main {
    padding: 1rem 0.75rem
}

button {
    margin: 1rem 0;
    padding: 0;
    border: 0;
    cursor: pointer
}

ul {
    list-style: none
}

a,
button {
    transition: opacity 400ms ease-in-out
}

a:hover,
button:hover {
    opacity: .5
}

.folio {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    cursor: url(images/cursors/cursor.svg), url(images/cursors/cursor.png), crosshair
}

.folio.is-open {
    opacity: 1;
    pointer-events: all
}

.folio-items {
    width: 100%;
    height: 100%;
    position: relative
}

.folio-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0
}

.folio-item.is-visible {
    opacity: 1
}

@media (max-width:500px) {
    * {
        font-size: 15px;
        line-height: 22px;
    }